<div class="login">
  <h1>Ragistration</h1>
  <form name='rags'>
    <input type="text" name="fn" placeholder="First Name" required="required" />
    <input type="text" name="ln" placeholder="Last Name"  />
    <input type="email" name="ei" placeholder="Email-Id" required="required" />
    <input type="text" name="cn" placeholder="Country" required="required" />
    <input type="password" name="cn" placeholder="New Password" required="required" />
    <button type="submit" class="btn btn-primary btn-block btn-large">Sign Up !</button>
    Already have account ?<a routerLink="/Login" >Log in</a>
  </form>
</div>